@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Roboto+Mono&display=swap');

* {
  max-width: 100% !important;
}

body {
  margin: 0 auto;
  padding: 0px;
}

.app {
  margin: auto;
}